body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: auto;
}

.well h1, h2, h3, h4 {
    color: #ee4444;
}

.well h1 {
    font-size: 1.7em;
}

.well h2 {
    font-size: 1.4em;
}

.well h3 {
    font-size: 1.2em;
}

.well h4 {
    font-size: 1em;
}

.well img {
    max-width: 100%;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

ul.lang {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }

ul.lang li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

ul.lang li img {
    margin-right: 8px;
    vertical-align: baseline;
}

hr { border: none; color: #BBB; background-color:#BBB; height: 1px;
}

.well table {
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    border: 1px solid #bbb; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}

.well th, td {border: 1px solid #bbb; padding: 3px; }

a[name] { position:relative;top:-53px;display:block; }

code { font-size: 100% }

a.download {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #428bca; 
    color: white;
    font-size: 150%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.col-md {
    overflow: hidden
}

.content .active {
    font-weight: bold;
    text-decoration: underline;
}

@media (min-width:1000px) {
    .content-subpage {
        float: right;
        max-width: 40%;
    }
}


